* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(217, 54%, 11%);
}
.main-container {
  display: flex;
  width: 275px;
  height: 470px;
  margin-top: 75px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(216, 50%, 16%);
  padding-top: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.image {
  width: 230px;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.about-view .eye{
    position: absolute;
    margin-top: -130px;
    margin-left: 105px;
    width: 20px;
    height: 20px;
    display: none;

}
.about-view:active .eye{
    display: block;
    opacity: 0.9;
}
.about-view:active img{
    opacity: 0.5;
}
h3 {
  margin-top: 15px;
  background-color: hsl(216, 50%, 16%);
  color: white;
  font-family: "Outfit", sans-serif;
}
p {
  background-color: hsl(216, 50%, 16%);
  color: hsl(215, 32%, 27%);
  font-weight: bold;
  margin-top: 15px;
  font-size: 14px;
}
.icons {
  width: 230px;
  height: 70px;
  display: flex;
  border-bottom: 2px solid hsl(215, 32%, 27%);
}
.left {
  width: 15px;
  height: 25px;
  float: left;
  margin-top: 20px;
  display: flex;
}
.left img {
  width: 100%;
  height: 100%;
}
.txtleft {
  color: hsl(178, 100%, 50%);
  margin-left: 5px;
  margin-top: 5px;
}
.right {
  width: 100px;
  height: 20px;
  margin-left: 120px;
  margin-top: 20px;
  display: flex;
}
.right img {
  width: 20px;
  height: 20px;
}
.txtright {
  color: hsl(215, 32%, 27%);
  font-weight: bold;
  margin-left: 2px;
  margin-top: 2px;
  font-size: 14px;
}
.avatar {
  margin-top: 15px;
  display: flex;
  text-align: center;
}
.avatar img {
  width: 35px;
  height: 35px;
  border: 2px solid white;
  border-radius: 30px;
}
.name {
  margin-left: 10px;
  color: white;
}
.creator {
  color: hsl(215, 32%, 27%);
}
